* {
    margin: 0;
    padding: 0;
    background-color: white;
}

QPushButton {
    margin: 0;
    padding:0;
    border: 0;
}

QPushButton#black
{
    background-color: rgb(58, 53, 43);
}

QPushButton#white
{
    background-color: #e9dec7;
}

QPushButton#black:hover {
    background-color: rgb(26, 24, 21);
}

QPushButton#white:hover {
    background-color: #c0b08c;
}

QMenuBar {
    background-color: white;
}

QMenuBar::item:selected, QMenu::item:selected{
    background-color: white;
    color: rgb(10, 10, 10);
}

QLabel#turno {
    font-size: 10pt;
    font-weight: bold;
    text-align: center;
    color: rgb(58,53,43);
    padding: 20px;
}
